//  Grid Gallery Layout


.gallery {

    @media screen and (max-width: 420px){
        padding: 0 2vw;    
    }
    
    .gallery-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10em 2em;
        margin: 0;
        margin-right: 3em;
        padding: 0;

        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-gap: 5em 2em;

        }

        // Media Query for image on small screen
        li img {
            @media screen and (max-width: 600px) {
                @include imageMobile;

            } 
        }

    // Classes for position of images and sizes
    .img-center {
        justify-self: center;
    }

    .img-bottom-left {
        align-self: end;
        img {
        @include imageSmaller;
        }
    }

    .img-top-right {
        justify-self: end;
    }

    .img-bottom-right {
        justify-self: end;
        align-self: end;
        img {
        @include imageSmaller;
        }
    }

    }
}

