// 
.main-navigation {
   grid-column: 1 / -1;
   grid-row: 1; 
}


@media screen and (min-width: 37.5em){
    .site-header {
        grid-column: 1/ -1;
        grid-row: 1;
        display: grid;
    }
}