// main grid
.site {
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 110px auto;


    .site-header {
        grid-column: 1 / -1;
        grid-row: 1;
    }

    .site-branding {
        grid-column: 1;
        grid-row: 2 / -1;

        position: fixed;
        top: 50vh;
        left: -100px;
        z-index: 99;

       h1.site-title {
            transform: rotate(-90deg);
            font-size: 3em;
            font-family: $font__title;
        }
    }

    .site-content {
        grid-column: 2;
        grid-row: 2;

        height: 100vh;
    }


}





