// main grid
.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

        .site-main {
        grid-row: 2;
        height: 100vh;
        }
    }


// Not showing the title on pages
.site-branding {
    display: none;
}


