


// Desktop Menu
.menu-mobile-container {
	display: flex;
}



.btn-menu {
	display: none;
}

// --------------------------
// Main Desktop Nav
// --------------------------


.menu-main-menu-container {

    @media screen and ( max-width: 700px ){
                display: none;
              }        

    .menu {
      display: flex;
      position: fixed;
      top: 12px;
      right: 160px;
      margin: 0;
      padding: 0;
      z-index: 99;
    }

    li {
      margin-right: 30px;
      cursor: pointer;

      a {
      font-size: 1em;
      }
      
    }

    .menu-item:first-child {
      transition: all 0.3s ease;
    }

    .menu-item:nth-child(2) {
      transition: all 0.6s ease;
    }


    .hide-menu {
      opacity: 0;
      transform: translateY(-30px);
    }

    .show-menu {
      opacity: 1;
      transform: translateY( 0 );
    }
}

// --------------------------
// Main Desktop Nav - Sub Menu For Work
// --------------------------

        ul.sub-menu {
            position: absolute;
            top: 15px;
            right: 60px;
            display: none;
            min-width: 70%;
            padding: 20px;

          li:first-child {
            
            transition: opacity 0.3s linear;
          }

          li:nth-child(2) {
            transition: opacity 0.6s linear;
          }

          li:last-child {
            transition: opacity 0.9s linear;
          }

        }

 .menu-item-has-children:hover .sub-menu  {
    display: block;
}







// --------------------------
// Lines 
// --------------------------
.menu-toggle {
  background:none;
  border: none;
  position: fixed;
  top: 34px;
  right: -50px;
  width: 25px;
  height: 24px;
  z-index: 9999;
  cursor: pointer;
}

.menu-toggle:focus {
  outline: #fff;
}

  .button-animate {
    right: 25px;
  }

ul.underline {
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 99;
  position: fixed;
  top: 40px;
  right: -20px;
  width: 20px;

        @media screen and ( max-width: 700px ){
                display: none;
              }


  li.line-one {
    height: 10px;
    transition: all 0.9s ease;
    position: fixed;
    top: 40px;
    right: 260px;
    width: 20px;
    z-index: 1;
  }

  li.line-one:before {
    content: '';
    display: block;
    height: 1px;
    background: #000000;
  }

  .line-one-animate {
    width: 20px;
    transform: translateX(230px);
  }

  li.line-two {
    height: 10px;
    transition: all 0.6s ease;
    position: fixed;
    top: 50px;
    right: -20px;
    width: 20px;
    z-index: 1;
  }

  li.line-two:before {
    content: '';
    display: block;
    height: 1px;
    background: #000000;
  }

  .line-two-animate {
    width: 20px;
    transform: translateX(-50px);
  }


}



// --------------------------
// Mobile Round Button
// --------------------------
.round-btn {
    position: fixed;
    top: 75vh;
    left: 50px;
    background-color: #000;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.8s ease-in;
    transform: translateX( -100px );

      @media screen and ( max-width: 700px ){
                transform: translateX( 0px );
              }

  .rel {
    position: relative;
  }

  span {
      display: block;
      height: 2px;
      width: 15px;
      background-color: #fff;
      margin: 0 auto;
  }

  span:first-child {
    margin-top: 10px;
    margin-bottom: 5px;
  }

}


.mobile-cover {
  display: none;

  @media screen and ( max-width: 700px ){
  display: flex;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0;
  transition: opacity 1s ease-in;
  }
}

.mobile-cover.active {
  opacity: 0.9;
}

.menu-mobile-container {
    display: none;

    @media screen and ( max-width: 700px ){
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    animation-delay: 0.7s;
    transform: translate(-50%, -50%)
  }

  .active-fade {
      animation: fadeIn 2s forwards;
    }

  .menu {
    list-style: none;
    margin: 0;
    padding-left: 1em;

    li {
      margin-bottom: 10px;
      opacity: 0;
      animation-delay: 0.7s;

      a {
        font-size: 13vw;
        font-family: $font__bernina;
        -webkit-font-smoothing: antialiased;

      }
    }

    li.active-fade {
      animation: fadeIn 1.5s forwards;
    }

    li:first-child  {animation-delay: 1s;}
    li:nth-child(2) {animation-delay: 0.8s}
    li:nth-child(3) {animation-delay: 0.7s}
    li:nth-child(4) {animation-delay: 0.5s}
    li:nth-child(5) {animation-delay: 0.3s}
  }

}

  li.active-open {
    display: flex;
  }


@keyframes growUp {
  0%{height: 0};
  100%{height: 70%; opacity: 1;};

}

@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}