// .main-navigation {
// 	clear: both;
// 	display: block;
// 	float: left;
// 	width: 100%;

// 	ul {
// 		display: none;
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;

// 		ul {
// 			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 			float: left;
// 			position: absolute;
// 			top: 100%;
// 			left: -999em;
// 			z-index: 99999;

// 			ul {
// 				left: -999em;
// 				top: 0;
// 			}

// 			li {
// 				&:hover > ul,
// 				&.focus > ul {
// 					left: 100%;
// 				}
// 			}

// 			a {
// 				width: 200px;
// 			}

// 			:hover > a,
// 			.focus > a {
// 			}

// 			a:hover,
// 			a.focus {
// 			}
// 		}

// 		li:hover > ul,
// 		li.focus > ul {
// 			left: auto;
// 		}
// 	}

// 	li {
// 		float: left;
// 		position: relative;

// 		&:hover > a,
// 		&.focus > a {
// 		}
// 	}

// 	a {
// 		display: block;
// 		text-decoration: none;
// 	}

// 	.current_page_item > a,
// 	.current-menu-item > a,
// 	.current_page_ancestor > a,
// 	.current-menu-ancestor > a {
// 	}
// }

// /* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

// .comment-navigation,
// .posts-navigation,
// .post-navigation {

// 	.site-main & {
// 		margin: 0 0 1.5em;
// 		overflow: hidden;
// 	}

// 	.nav-previous {
// 		float: left;
// 		width: 50%;
// 	}

// 	.nav-next {
// 		float: right;
// 		text-align: right;
// 		width: 50%;
// 	}
// }


// Desktop Menu
.menu-mobile-container {
	display: flex;
}

.btn-menu {
	display: none;
}

// --------------------------
// Main Desktop Nav
// --------------------------

.menu-main-menu-container {

    @media screen and ( max-width: 700px ){
                display: none;
              }        

    .menu {
      display: flex;
      position: fixed;
      top: 12px;
      right: 60px;
      margin: 0;
      padding: 0;
      z-index: 99;
    }

    li {
      margin-right: 30px;
      cursor: pointer;

      a{
      font-family: $font__main;
      }
      
    }

    .menu-item-23 {
      transition: all 0.3s ease;
    }

    .menu-item-25 {
      transition: all 0.6s ease;
    }

    .menu-item-24 {
      transition: all 0.9s ease;
    }

    .hide-menu {
      opacity: 0;
      transform: translateY(-30px);
    }

    .show-menu {
      opacity: 1;
      transform: translateY(30px);
    }
}

// --------------------------
// Main Desktop Nav - Sub Menu For Work
// --------------------------

.menu ul li:hover > ul.sub-menu { 
        opacity: 1;
        }

        ul.sub-menu {
        position: fixed;
        top: 50px;
        right: 168px;
        opacity: 1;
        

          li:first-child {
            
            transition: opacity 0.3s linear;
          }

          li:nth-child(2) {
            transition: opacity 0.6s linear;
          }

          li:last-child {
            transition: opacity 0.9s linear;
          }

        }







// --------------------------
// Lines 
// --------------------------


ul.underline {
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 99;

        @media screen and ( max-width: 700px ){
                display: none;
              }


  li.line-one {
    height: 10px;
    cursor: pointer;
    transition: all 0.9s ease;
    position: fixed;
    top: 40px;
    right: 260px;
    width: 20px;
  }

  li.line-one:before {
    content: '';
    display: block;
    height: 1px;
    background: #000000;
  }

  .line-one-animate {
    width: 20px;
    transform: translateX(230px);
  }

  li.line-two {
    height: 10px;
    cursor: pointer;
    transition: all 0.6s ease;
    position: fixed;
    top: 50px;
    right: -20px;
    width: 20px;
  }

  li.line-two:before {
    content: '';
    display: block;
    height: 1px;
    background: #000000;
  }

  .line-two-animate {
    width: 20px;
    transform: translateX(-50px);
  }

}



// --------------------------
// Mobile Round Button
// --------------------------
.round-btn {
    position: fixed;
    top: 75vh;
    left: 50px;
    background-color: #000;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.8s ease-in;
    transform: translateX( -100px );

      @media screen and ( max-width: 700px ){
                transform: translateX( 0px );
              }

  .rel {
    position: relative;
  }

  span {
      display: block;
      height: 2px;
      width: 15px;
      background-color: #fff;
      margin: 0 auto;
  }

  span:first-child {
    margin-top: 10px;
    margin-bottom: 5px;
  }

}


