
.site-main {
    position: relative;

    .pre-loader {
        position: absolute;
        top: 0;
        left: 0;
        height: 200vh;
        width: 100%;
        background-color: white;
        opacity: 0;
        transition: opacity 600ms ease-out;
    }
}

.pre-loader.pre-load-hide {
    opacity: 1;
}

.pre-loader.disabled {
    display: none;
}
